<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Username:</strong>
  <%= @article.username %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @article.parent&.title %>
</p>

<p>
  <strong>Like:</strong>
  <%= @article.like || 0 %>
</p>

<p>
  <strong>Bad:</strong>
  <%= @article.bad || 0 %>
</p>

<%= link_to 'Like', like_article_path(@article), method: :post %> |
<%= link_to 'Bad', bad_article_path(@article), method: :post %> |
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
